Repository corda/corda-runtime-os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @corda/blt, @corda/corda5-team-leads, @corda/rest, @corda/cluster-management, @corda/corda-platform-network-team

.github/CODEOWNERS:

# Build scripts should be audited by BLT

Jenkinsfile        @corda/blt
.ci/**             @corda/blt

*.gradle           @corda/blt
gradle.properties  @corda/corda5-team-leads
gradle/*           @corda/blt

.github/**          @corda/blt
CODEOWNERS         @corda/blt @corda/corda5-team-leads

# Modules to be audited by REST team
/applications/workers/release/rest-worker/      @corda/rest
/components/rest-gateway-comp/                  @corda/rest
/components/permissions/                        @corda/rest
/components/rbac-security-manager-service/      @corda/rest
/libs/rest/                                     @corda/rest
/libs/permissions/                              @corda/rest
/processors/rest-processor/                     @corda/rest

# Corda Helm chart for cluster management team
/charts/corda/                                @corda/cluster-management

# Modules to be audited by the Network team
/applications/workers/release/p2p-gateway-worker/               @corda/corda-platform-network-team
/applications/workers/release/p2p-link-manager-worker/          @corda/corda-platform-network-team
/applications/workers/release/member-worker/                    @corda/corda-platform-network-team
/processors/link-manager-processor/                             @corda/corda-platform-network-team
/processors/gateway-processor/                                  @corda/corda-platform-network-team
/processors/member-processor/                                   @corda/corda-platform-network-team
/components/gateway/                                            @corda/corda-platform-network-team
/components/link-manager/                                       @corda/corda-platform-network-team
/components/membership/                                         @corda/corda-platform-network-team
/libs/membership/                                               @corda/corda-platform-network-team
/libs/p2p-crypto/                                               @corda/corda-platform-network-team
/libs/layered-property-map/                                     @corda/corda-platform-network-team
/tools/plugins/mgm/                                             @corda/corda-platform-network-team
/tools/plugins/network/                                         @corda/corda-platform-network-team
/applications/tools/p2p-test/                                   @corda/corda-platform-network-team

broken swagger baseline test
  processors/rest-processor/src/integrationTest/resources/swaggerBaseline.json
Owners: @corda/rest

added test
  components/flow/flow-rest-resource-service-impl/src/test/kotlin/net/corda/flow/rest/impl/v1/FlowRestResourceImplTest.kt
Owners: none

CORE-11199 - remove some unused functions left over from previous merge (#3288)
  libs/virtual-node/virtual-node-datamodel/src/main/kotlin/net/corda/libs/virtualnode/datamodel/dto/VirtualNodeOperationDto.kt
  libs/virtual-node/virtual-node-datamodel/src/main/kotlin/net/corda/libs/virtualnode/datamodel/repository/VirtualNodeRepository.kt
  libs/virtual-node/virtual-node-datamodel/src/main/kotlin/net/corda/libs/virtualnode/datamodel/repository/VirtualNodeRepositoryImpl.kt
Owners: none

CORE-11132: update downstream job use correct info (#903)
  Jenkinsfile
Owners: @corda/blt

CORE:10425 : Facade to flow mapper service integration with interop processor
  components/interop/interop-service/src/integrationTest/kotlin/net/corda/interop/service/integration/InteropServiceIntegrationTest.kt
  components/interop/interop-service/src/main/kotlin/net/corda/interop/InteropProcessor.kt
  components/interop/interop-service/src/main/kotlin/net/corda/interop/InteropService.kt
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/InteropFacadeToFlowMapperService.kt
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/FacadeToFlowMapperServiceImpl.kt
  components/interop/interop-service/src/main/resources/dummy-facade-to-flow-config.yaml
  components/interop/interop-service/src/test/kotlin/net/corda/interop/service/FacadeToFlowMapperServiceImplTest.kt
  components/interop/interop-service/test.bndrun
  processors/interop-processor/src/main/kotlin/net/corda/processors/interop/internal/InteropProcessorImpl.kt
Owners: none

CORE:10425 : Removed multi import
  components/interop/interop-service/src/main/kotlin/net/corda/interop/InteropProcessor.kt
Owners: none

misunderstanding of ticket, added correct bug fix. limit short hash to 12 characters
  components/virtual-node/virtual-node-rpcops-service-impl/src/main/kotlin/net/corda/virtualnode/rpcops/impl/validation/impl/VirtualNodeValidationServiceImpl.kt
  libs/crypto/crypto-core/src/main/kotlin/net/corda/crypto/core/ShortHash.kt
  libs/crypto/crypto-core/src/test/kotlin/net/corda/crypto/core/ShortHashTest.kt
Owners: none

CORE:10425 : Removed unused data classes
  components/interop/interop-service/src/main/kotlin/net/corda/interop/data/FacadeFlowInfo.kt
Owners: none

fixing error message
  libs/crypto/crypto-core/src/main/kotlin/net/corda/crypto/core/ShortHash.kt
Owners: none

Move `sha256Bytes` util functions to cipher suite
  libs/crypto/cipher-suite/src/main/kotlin/net/corda/crypto/cipher/suite/PublicKeyHash.kt
  libs/crypto/cipher-suite/src/main/kotlin/net/corda/crypto/cipher/suite/PublicKeyHashUtils.kt
  libs/crypto/cipher-suite/src/test/java/net/corda/crypto/cipher/suite/merkle/MerkleTreeProviderJavaApiTest.java
  libs/crypto/cipher-suite/src/test/kotlin/net/corda/crypto/cipher/suite/PublicKeyHashTests.kt
  libs/crypto/cipher-suite/src/test/kotlin/net/corda/crypto/cipher/suite/schemes/KeySchemeTemplateTests.kt
  libs/crypto/cipher-suite/src/test/kotlin/net/corda/crypto/cipher/suite/schemes/KeySchemeTests.kt
  libs/crypto/crypto-core/src/main/kotlin/net/corda/crypto/core/PublicKeyUtils.kt
  libs/layered-property-map/src/test/kotlin/net/corda/layeredpropertymap/LayeredPropertyMapTest.kt
  libs/packaging/packaging/src/main/kotlin/net/corda/libs/packaging/Utils.kt
  processors/crypto-processor/src/integrationTest/kotlin/net/corda/processors/crypto/tests/CryptoProcessorTests.kt
  testing/packaging-test-utilities/src/main/kotlin/net/corda/libs/packaging/testutils/TestUtils.kt
Owners: @corda/corda-platform-network-team

CORE-8896 Add corda-lib chart
  .gitignore
  charts/corda-lib/Chart.yaml
  charts/corda-lib/templates/_bootstrap.tpl
  charts/corda-lib/templates/_helpers.tpl
  charts/corda-lib/templates/_worker.tpl
  charts/corda/values.schema.json
Owners: @corda/cluster-management

CORE-11225 rpc -> rest in Helm chart NOTES.txt
  charts/corda/templates/NOTES.txt
Owners: @corda/cluster-management

CORE:10425 : Changed yaml to json
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/FacadeToFlowMapperServiceImpl.kt
  components/interop/interop-service/src/main/resources/dummy-facade-to-flow-config.json
Owners: none

Apply review comment
  components/membership/membership-persistence-service-impl/src/main/kotlin/net/corda/membership/impl/persistence/service/handler/PersistGroupParametersHandler.kt
  components/membership/membership-persistence-service-impl/src/test/kotlin/net/corda/membership/impl/persistence/service/handler/PersistGroupParametersHandlerTest.kt
Owners: @corda/corda-platform-network-team

CORE-11225 rpc -> rest in Helm chart NOTES.txt (#3290)
  charts/corda/templates/NOTES.txt
Owners: @corda/cluster-management

CORE-8774: DB connection failures must be recoverable - CpkWriteServiceImpl
  components/virtual-node/cpk-write-service-impl/src/main/kotlin/net/corda/cpk/write/impl/CpkWriteServiceImpl.kt
  components/virtual-node/cpk-write-service-impl/src/test/kotlin/net/corda/cpk/write/impl/CpkWriteServiceImplTest.kt
Owners: none

detekt
  components/membership/membership-persistence-service-impl/src/test/kotlin/net/corda/membership/impl/persistence/service/handler/PersistGroupParametersHandlerTest.kt
Owners: @corda/corda-platform-network-team

CORE:10425 : Changed type casting from generic to specific
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/FacadeToFlowMapperServiceImpl.kt
Owners: none

CORE-8774: DB connection failures must be recoverable - DBProcessorImpl
  processors/db-processor/src/main/kotlin/net/corda/processors/db/internal/DBProcessorImpl.kt
Owners: none

fixing tests
  applications/workers/workers-smoketest/src/smokeTest/kotlin/net/corda/applications/workers/smoketest/virtualnode/VirtualNodeRpcTest.kt
Owners: none

bump api version
  gradle.properties
Owners: @corda/corda5-team-leads

update versions
  gradle.properties
Owners: @corda/corda5-team-leads

adding interop alias mapping to the member info and adding interop role and alias mapping to the dummy interop member data
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/HardcodedInteropMemberRegistrationService.kt
  libs/membership/membership-common/src/main/kotlin/net/corda/membership/lib/MemberInfoExtension.kt
Owners: @corda/corda-platform-network-team

CORE-8774: DB connection failures must be recoverable - ConfigWriteEventHandler
  components/configuration/configuration-write-service-impl/src/main/kotlin/net/corda/configuration/write/impl/ConfigWriteEventHandler.kt
Owners: none

CORE:10425 : Changes for to move suppress warning to method level
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/FacadeToFlowMapperServiceImpl.kt
Owners: none

addressing pr comments: renaming mapping in member info,changing hardcoded value for the mapping
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/HardcodedInteropMemberRegistrationService.kt
  libs/membership/membership-common/src/main/kotlin/net/corda/membership/lib/MemberInfoExtension.kt
Owners: @corda/corda-platform-network-team

CORE-10695 CORE-10696 CORE-10697 - bug fixes relating to vnode maintenance states (#3280)
  applications/workers/workers-smoketest/src/smokeTest/kotlin/net/corda/applications/workers/smoketest/virtualnode/VirtualNodeRpcTest.kt
  components/flow/flow-rest-resource-service-impl/src/main/kotlin/net/corda/flow/rest/impl/v1/FlowRestResourceImpl.kt
  components/flow/flow-rest-resource-service-impl/src/test/kotlin/net/corda/flow/rest/impl/v1/FlowRestResourceImplTest.kt
  libs/rest/rest/src/main/kotlin/net/corda/rest/exception/OperationNotAllowedException.kt
Owners: @corda/rest

CORE-9029 Get Virtual node operation status endpoint (#3089)
  applications/workers/workers-smoketest/src/smokeTest/kotlin/net/corda/applications/workers/smoketest/virtualnode/VirtualNodeRpcTest.kt
  components/virtual-node/virtual-node-rpcops-service-impl/src/main/kotlin/net/corda/virtualnode/rpcops/impl/v1/VirtualNodeRestResourceImpl.kt
  components/virtual-node/virtual-node-write-service-impl/src/main/kotlin/net/corda/virtualnode/write/db/impl/writer/VirtualNodeWriterFactory.kt
  components/virtual-node/virtual-node-write-service-impl/src/main/kotlin/net/corda/virtualnode/write/db/impl/writer/VirtualNodeWriterProcessor.kt
  components/virtual-node/virtual-node-write-service-impl/src/main/kotlin/net/corda/virtualnode/write/db/impl/writer/asyncoperation/handlers/VirtualNodeOperationStatusHandler.kt
  components/virtual-node/virtual-node-write-service-impl/src/test/kotlin/net/corda/virtualnode/write/db/impl/tests/writer/VirtualNodeWriterProcessorTests.kt
  components/virtual-node/virtual-node-write-service-impl/src/test/kotlin/net/corda/virtualnode/write/db/impl/tests/writer/asyncoperation/handlers/VirtualNodeOperationStatusHandlerTest.kt
  libs/virtual-node/virtual-node-datamodel/src/integrationTest/kotlin/net/corda/libs/configuration/datamodel/tests/VNodeTestUtils.kt
  libs/virtual-node/virtual-node-datamodel/src/integrationTest/kotlin/net/corda/libs/configuration/datamodel/tests/VirtualNodeRepositoryTest.kt
  libs/virtual-node/virtual-node-datamodel/src/main/kotlin/net/corda/libs/virtualnode/datamodel/dto/VirtualNodeOperationDto.kt
  libs/virtual-node/virtual-node-datamodel/src/main/kotlin/net/corda/libs/virtualnode/datamodel/repository/VirtualNodeRepository.kt
  libs/virtual-node/virtual-node-datamodel/src/main/kotlin/net/corda/libs/virtualnode/datamodel/repository/VirtualNodeRepositoryImpl.kt
  libs/virtual-node/virtual-node-endpoints/src/main/kotlin/net/corda/libs/virtualnode/endpoints/v1/VirtualNodeRestResource.kt
  libs/virtual-node/virtual-node-endpoints/src/main/kotlin/net/corda/libs/virtualnode/endpoints/v1/types/VirtualNodeOperationStatus.kt
  libs/virtual-node/virtual-node-endpoints/src/main/kotlin/net/corda/libs/virtualnode/endpoints/v1/types/VirtualNodeOperationStatuses.kt
  processors/rest-processor/src/integrationTest/resources/swaggerBaseline.json
  testing/e2e-test-utilities/src/main/kotlin/net/corda/e2etest/utilities/ClusterBuilder.kt
Owners: @corda/rest

Remove unused import
  libs/membership/membership-common/src/main/kotlin/net/corda/membership/lib/MemberInfoExtension.kt
Owners: @corda/corda-platform-network-team

sort operation status records in response
  libs/virtual-node/virtual-node-datamodel/src/main/kotlin/net/corda/libs/virtualnode/datamodel/repository/VirtualNodeRepositoryImpl.kt
Owners: none

CORE-8774: Use getManagedResource for subscriptions
  components/virtual-node/cpk-write-service-impl/src/main/kotlin/net/corda/cpk/write/impl/CpkWriteServiceImpl.kt
  components/virtual-node/cpk-write-service-impl/src/test/kotlin/net/corda/cpk/write/impl/CpkWriteServiceImplTest.kt
Owners: none

update version
  components/membership/registration-impl/src/test/kotlin/net/corda/membership/impl/registration/staticnetwork/StaticMemberRegistrationServiceTest.kt
  gradle.properties
Owners: @corda/corda-platform-network-team, @corda/corda5-team-leads

Remove unneeded dependency
  components/crypto/crypto-client-hsm-impl/build.gradle
Owners: @corda/blt

Alpha to bring in keys equality fix
  gradle.properties
Owners: @corda/corda5-team-leads

CORE-11243: Configure Quasar to ignore Lifecycle and Security Manager.
  components/security-manager/build.gradle
  components/security-manager/src/main/java/net/corda/securitymanager/package-info.java
  libs/lifecycle/lifecycle-impl/src/main/kotlin/net/corda/lifecycle/impl/LifecycleCoordinatorFactoryImpl.kt
  libs/lifecycle/lifecycle-impl/src/main/kotlin/net/corda/lifecycle/impl/LifecycleCoordinatorSchedulerFactoryImpl.kt
  libs/lifecycle/lifecycle/build.gradle
  libs/lifecycle/lifecycle/src/main/java/net/corda/lifecycle/package-info.java
Owners: @corda/blt

Add jackson serializer and deserializer for `SecureHash`
  libs/application/application-impl/src/main/kotlin/net/corda/application/impl/services/json/JsonMarshallingServiceImpl.kt
Owners: none

CORE-8774: DB connection failures must be recoverable - ConfigWriteEventHandler (#3124)
  components/configuration/configuration-write-service-impl/src/main/kotlin/net/corda/configuration/write/impl/ConfigWriteEventHandler.kt
Owners: none

CORE-11243: Configure Quasar to ignore Lifecycle and Security Manager. (#3295)
  components/security-manager/build.gradle
  components/security-manager/src/main/java/net/corda/securitymanager/package-info.java
  libs/lifecycle/lifecycle-impl/src/main/kotlin/net/corda/lifecycle/impl/LifecycleCoordinatorFactoryImpl.kt
  libs/lifecycle/lifecycle-impl/src/main/kotlin/net/corda/lifecycle/impl/LifecycleCoordinatorSchedulerFactoryImpl.kt
  libs/lifecycle/lifecycle/build.gradle
  libs/lifecycle/lifecycle/src/main/java/net/corda/lifecycle/package-info.java
Owners: @corda/blt

addressing pr comments: adding comment
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/HardcodedInteropMemberRegistrationService.kt
Owners: none

CORE-8744 Align Cpi related entities and repository with latest JPA guidance
  libs/virtual-node/cpi-datamodel/src/main/kotlin/net/corda/libs/cpi/datamodel/CpiEntities.kt
  libs/virtual-node/cpi-datamodel/src/main/kotlin/net/corda/libs/cpi/datamodel/entities/internal/CpkDbChangeLogAuditEntity.kt
  libs/virtual-node/cpi-datamodel/src/main/kotlin/net/corda/libs/cpi/datamodel/entities/internal/CpkDbChangeLogEntity.kt
  libs/virtual-node/cpi-datamodel/src/main/kotlin/net/corda/libs/cpi/datamodel/repository/CpkDbChangeLogAuditRepositoryImpl.kt
  libs/virtual-node/cpi-datamodel/src/main/kotlin/net/corda/libs/cpi/datamodel/repository/CpkDbChangeLogRepositoryImpl.kt
Owners: none
