Repository corda/corda-runtime-os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @corda/blt, @corda/corda5-team-leads, @corda/rest, @corda/cluster-management, @corda/corda-platform-network-team

Add more jackson serializers and deserializers for `SecureHash`
  simulator/example-app/src/integrationTest/kotlin/net/cordacon/example/doorcode/DoorCodeTest.kt
  simulator/runtime/src/main/kotlin/net/corda/simulator/runtime/serialization/SimpleJsonMarshallingService.kt
Owners: none

Unused import
  simulator/runtime/src/main/kotlin/net/corda/simulator/runtime/serialization/SimpleJsonMarshallingService.kt
Owners: none

More jackson `SecureHash` serializers
  applications/workers/workers-smoketest/src/smokeTest/kotlin/net/corda/applications/workers/smoketest/ledger/ConsensualLedgerTests.kt
Owners: none

CORE:10425 : Changes for casting the map
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/FacadeToFlowMapperServiceImpl.kt
Owners: none

Remove not needed dependency
  testing/cpbs/test-cordapp/build.gradle
Owners: @corda/blt

CORE-10427 - Alias Identity Mapper (#3291)
  components/interop/interop-service/src/main/kotlin/net/corda/interop/service/impl/HardcodedInteropMemberRegistrationService.kt
  libs/membership/membership-common/src/main/kotlin/net/corda/membership/lib/MemberInfoExtension.kt
Owners: @corda/corda-platform-network-team

Remove runtime-os dependencies from CPKs
  testing/cpbs/crypto-custom-digest-one-cpk/build.gradle
  testing/cpbs/crypto-custom-digest-one-cpk/src/main/kotlin/com/example/crypto/TripleSha256Digest.kt
  testing/cpbs/crypto-custom-digest-two-cpk/build.gradle
  testing/cpbs/crypto-custom-digest-two-cpk/src/main/kotlin/org/example/crypto/QuadSha256Digest.kt
Owners: @corda/blt

.github/CODEOWNERS:

# Build scripts should be audited by BLT

Jenkinsfile        @corda/blt
.ci/**             @corda/blt

*.gradle           @corda/blt
gradle.properties  @corda/corda5-team-leads
gradle/*           @corda/blt

.github/**          @corda/blt
CODEOWNERS         @corda/blt @corda/corda5-team-leads

# Modules to be audited by REST team
/applications/workers/release/rest-worker/      @corda/rest
/components/rest-gateway-comp/                  @corda/rest
/components/permissions/                        @corda/rest
/components/rbac-security-manager-service/      @corda/rest
/libs/rest/                                     @corda/rest
/libs/permissions/                              @corda/rest
/processors/rest-processor/                     @corda/rest

# Corda Helm chart for cluster management team
/charts/corda/                                @corda/cluster-management

# Modules to be audited by the Network team
/applications/workers/release/p2p-gateway-worker/               @corda/corda-platform-network-team
/applications/workers/release/p2p-link-manager-worker/          @corda/corda-platform-network-team
/applications/workers/release/member-worker/                    @corda/corda-platform-network-team
/processors/link-manager-processor/                             @corda/corda-platform-network-team
/processors/gateway-processor/                                  @corda/corda-platform-network-team
/processors/member-processor/                                   @corda/corda-platform-network-team
/components/gateway/                                            @corda/corda-platform-network-team
/components/link-manager/                                       @corda/corda-platform-network-team
/components/membership/                                         @corda/corda-platform-network-team
/libs/membership/                                               @corda/corda-platform-network-team
/libs/p2p-crypto/                                               @corda/corda-platform-network-team
/libs/layered-property-map/                                     @corda/corda-platform-network-team
/tools/plugins/mgm/                                             @corda/corda-platform-network-team
/tools/plugins/network/                                         @corda/corda-platform-network-team
/applications/tools/p2p-test/                                   @corda/corda-platform-network-team
