Repository corda/corda-runtime-os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @corda/blt, @corda/corda5-team-leads, @corda/rest, @corda/cluster-management, @corda/corda-platform-network-team, @corda/sandboxing, @corda/crypto, @corda/packaging, @corda/db, @corda/flow-worker, @corda/ledger, @corda/notaries

adding unit tests
  components/ledger/ledger-utxo-flow/src/test/kotlin/net/corda/ledger/utxo/flow/impl/flows/transactiontransmission/ReceiveLedgerTransactionFlowTest.kt
  components/ledger/ledger-utxo-flow/src/test/kotlin/net/corda/ledger/utxo/flow/impl/flows/transactiontransmission/SendWireTransactionFlowTest.kt
Owners: @corda/ledger

Move feature flag to Features
  components/link-manager/build.gradle
  components/link-manager/src/main/kotlin/net/corda/p2p/linkmanager/common/CommonComponents.kt
  libs/utilities/src/main/kotlin/net/corda/utilities/flags/Features.kt
Owners: @corda/corda-platform-network-team

More
  testing/e2e-test-utilities/src/main/kotlin/net/corda/e2etest/utilities/CertificateUtils.kt
  testing/e2e-test-utilities/src/main/kotlin/net/corda/e2etest/utilities/MGMUtils.kt
  testing/e2e-test-utilities/src/main/kotlin/net/corda/e2etest/utilities/MembershipUtils.kt
Owners: none

add sm to lm
  applications/workers/release/combined-worker/src/main/kotlin/net/corda/applications/workers/combined/CombinedWorker.kt
  components/link-manager/src/integrationTest/kotlin/net/corda/p2p/linkmanager/integration/LinkManagerIntegrationTest.kt
  components/link-manager/src/main/kotlin/net/corda/p2p/linkmanager/LinkManager.kt
  components/link-manager/src/main/kotlin/net/corda/p2p/linkmanager/common/CommonComponents.kt
  components/link-manager/src/nonOsgiIntegrationTest/kotlin/net/corda/p2p/P2PLayerEndToEndTest.kt
  processors/link-manager-processor/build.gradle
  processors/link-manager-processor/src/main/kotlin/net/corda/processors/p2p/linkmanager/internal/LinkManagerProcessorImpl.kt
Owners: @corda/corda-platform-network-team

CORE-18320 Fixed unit tests
  libs/flows/session-manager-impl/src/integrationTest/kotlin/net/corda/session/manager/integration/transition/SessionStateConfirmedTransitionTest.kt
Owners: @corda/flow-worker

updating unit tests
  components/ledger/ledger-utxo-flow/src/test/kotlin/net/corda/ledger/utxo/flow/impl/flows/transactiontransmission/ReceiveLedgerTransactionFlowTest.kt
Owners: @corda/ledger

more
  testing/e2e-test-utilities/src/main/kotlin/net/corda/e2etest/utilities/CertificateUtils.kt
  testing/e2e-test-utilities/src/main/kotlin/net/corda/e2etest/utilities/ClusterBuilder.kt
  testing/e2e-test-utilities/src/main/kotlin/net/corda/e2etest/utilities/MGMUtils.kt
  testing/e2e-test-utilities/src/main/kotlin/net/corda/e2etest/utilities/MembershipUtils.kt
Owners: none

add stub
  components/link-manager/src/integrationTest/kotlin/net/corda/p2p/linkmanager/integration/stub/StateManagerFactoryStub.kt
Owners: @corda/corda-platform-network-team

Remove context
  components/crypto/crypto-client-impl/src/main/kotlin/net/corda/crypto/client/impl/SessionEncryptionOpsClientComponent.kt
  components/crypto/crypto-client-impl/src/main/kotlin/net/corda/crypto/client/impl/SessionEncryptionOpsClientImpl.kt
  components/crypto/crypto-client-impl/src/test/kotlin/net/corda/crypto/client/impl/SessionEncryptionOpsClientImplTest.kt
  components/crypto/crypto-client/src/main/kotlin/net/corda/crypto/client/SessionEncryptionOpsClient.kt
  components/crypto/crypto-service-impl/src/main/kotlin/net/corda/crypto/service/impl/rpc/SessionDecryptionProcessor.kt
  components/crypto/crypto-service-impl/src/main/kotlin/net/corda/crypto/service/impl/rpc/SessionEncryptionProcessor.kt
  components/crypto/crypto-service-impl/src/test/kotlin/net/corda/crypto/service/impl/rpc/SessionDecryptionProcessorTest.kt
  components/crypto/crypto-service-impl/src/test/kotlin/net/corda/crypto/service/impl/rpc/SessionEncryptionProcessorTest.kt
  components/crypto/crypto-softhsm-impl/src/main/kotlin/net/corda/crypto/softhsm/impl/SoftCryptoService.kt
  gradle.properties
  libs/crypto/crypto-core/src/main/kotlin/net/corda/crypto/core/CryptoService.kt
Owners: @corda/crypto

.github/CODEOWNERS:

# Build scripts should be audited by BLT

Jenkinsfile        @corda/blt
.ci/**             @corda/blt

*.gradle           @corda/blt
gradle/wrapper     @corda/blt
*.toml             @corda/corda5-team-leads

.github/**          @corda/blt
CODEOWNERS         @corda/blt @corda/corda5-team-leads

# Modules to be audited by REST team
/applications/workers/release/rest-worker/      @corda/rest
/components/rest-gateway-comp/                  @corda/rest
/components/permissions/                        @corda/rest
/components/rbac-security-manager-service/      @corda/rest
/components/virtual-node/                       @corda/rest
/libs/rest/                                     @corda/rest
/libs/permissions/                              @corda/rest
/libs/virtual-node/                             @corda/rest
/processors/rest-processor/                     @corda/rest
/tools/plugins/initial-rbac/                    @corda/rest
/tools/plugins/plugins-rest/                    @corda/rest
/tools/plugins/virtual-node/                    @corda/rest

# Corda Helm chart for cluster management team
/charts/corda/                                @corda/cluster-management

# Modules to be audited by the Network team
/applications/workers/release/p2p-gateway-worker/               @corda/corda-platform-network-team
/applications/workers/release/p2p-link-manager-worker/          @corda/corda-platform-network-team
/applications/workers/release/member-worker/                    @corda/corda-platform-network-team
/processors/link-manager-processor/                             @corda/corda-platform-network-team
/processors/gateway-processor/                                  @corda/corda-platform-network-team
/processors/member-processor/                                   @corda/corda-platform-network-team
/components/gateway/                                            @corda/corda-platform-network-team
/components/link-manager/                                       @corda/corda-platform-network-team
/components/membership/                                         @corda/corda-platform-network-team
/libs/membership/                                               @corda/corda-platform-network-team
/libs/p2p-crypto/                                               @corda/corda-platform-network-team
/libs/layered-property-map/                                     @corda/corda-platform-network-team
/tools/plugins/mgm/                                             @corda/corda-platform-network-team
/tools/plugins/network/                                         @corda/corda-platform-network-team
/applications/tools/p2p-test/                                   @corda/corda-platform-network-team

# Modules to be audited by Sandboxing SMEs
/components/security-manager/                                   @corda/sandboxing
/components/virtual-node/sandbox-*                              @corda/sandboxing
/components/sandbox*                                            @corda/sandboxing
/libs/virtual-node/sandbox-*                                    @corda/sandboxing
/osgi-*                                                         @corda/sandboxing
/testing/sandboxes/                                             @corda/sandboxing
/testing/sandboxes-testkit/                                     @corda/sandboxing
/testing/security-manager-utilities/                            @corda/sandboxing

# Modules to be audited by Crypto SMEs
/components/crypto/                                             @corda/crypto
/libs/crypto/                                                   @corda/crypto
/processors/crypto/                                             @corda/crypto

# Modules to be audited by Packaging SMEs
/components/chunking/                                           @corda/packaging
/components/virtual-node/cpi-*                                  @corda/packaging
/components/virtual-node/cpk-*                                  @corda/packaging
/libs/chunking/                                                 @corda/packaging
/libs/packaging/                                                @corda/packaging
/libs/serialization/                                            @corda/packaging
/libs/virtual-node/cpi-*                                        @corda/packaging
/testing/packaging-test-utilities/                              @corda/packaging
/tools/plugins/package                                          @corda/packaging

# Modules to be audited by DB SMEs
/components/db/                                                 @corda/db
/components/persistence/                                        @corda/db
/components/reconciliation/                                     @corda/db
/libs/db/                                                       @corda/db
/processors/db/                                                 @corda/db
/testing/persistence-testkit/                                   @corda/db
/tools/plugins/db-config                                        @corda/db

# Modules to be audited by Flow Worker team
/components/flow/                                               @corda/flow-worker
/libs/flows/                                                    @corda/flow-worker
/libs/lifecycle/                                                @corda/flow-worker
/libs/messaging/                                                @corda/flow-worker
/libs/application/application-impl/                             @corda/flow-worker
/processors/flow-processor/                                     @corda/flow-worker
/testing/flow/                                                  @corda/flow-worker
/testing/message-patterns/                                      @corda/flow-worker
/applications/workers/release/flow-worker                       @corda/flow-worker

# Modules to be audited by Ledger SMEs
/components/ledger/                                             @corda/ledger
/libs/ledger/                                                   @corda/ledger
/testing/ledger/                                                @corda/ledger

# Modules to be audited by Notary SMEs
/components/uniqueness/                                         @corda/notaries
/libs/uniqueness/                                               @corda/notaries
/notary-plugins/                                                @corda/notaries
/processors/uniqueness-processor/                               @corda/notaries
/testing/uniqueness/                                            @corda/notaries

# Ledger token selection files to be reviewed by the REST team
# This needs to be after the ledger rules to partially override those
/components/ledger/ledger-utxo-token-cache                      @corda/rest
/components/ledger/ledger-utxo-flow/src/main/kotlin/net/corda/ledger/utxo/impl/token @corda/rest
